.outline1 {
	outline: 1px solid grey;
	border: 1px solid grey;
	width: 100px;
	height: 100px;
	display: inline-block;
}
.image {
	left: 25px;
	top: 25px;
	width: 50px;
	height: 50px;
	position: relative;
}
.crash-message {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}
.explosion {
	height: 50px;
	width: 50px;
}
